body{
    background-color: rgb(247, 196, 247);
}
h1{
    color: rgb(85, 0, 85);
    text-align: center;
}
p{
    color: rgb(116, 3, 63);
}
.imagem-banner{
    text-align: center;
}
.itens {
    font-style: italic;
font-size: 26px ;
}

.beneficios {
    background: #f8c2ff;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 30%;
}
